
/*desktop*/
  body {
         font-size: 16px;
         font-family: arial;
         text-align: center;

  }

  h1{
    font-size:16px;
    text-align: left;
  }

button {
  font-size:16px;
    width: 15%;
  border-style: none;
 padding: 5px;
 background-color: #3399ff;
 text-decoration: none;
 color: white;
}
input{

  font-size:16px;
    width: 15%;
}
select{

font-size:16px;
    width: 15%;

     width: 268px;
     padding: 5px;
     font-size: 16px;
     line-height: 1;
     border: 1px;
     border-radius: 0;
     height: 34px;
     -webkit-appearance: none;



}
div.upper {
  height:16px;

}
