
/*desktop*/
  body { margin: 0px;
         font-size: 16px;
         font-family: arial;
         text-align: center;

  }

  h1{
    margin: 0px;
    background-color: #0066ff;
    font-size:16px;
    text-align: left;
    font-weight: normal;
  }

button {
  font-size:16px;
    width: 15%;
  border-style: none;
 padding: 5px;
 background-color: #3399ff;
 text-decoration: none;
 color: white;
}
input{

  font-size:16px;
    width: 15%;
}
select{

font-size:16px;
    width: 15%;

}
div.upper {
  height:16px;

}
