 body {
         font-size: 16px;
         font-family: arial;
         text-align: center;

  }

h1{
  font-size:16px;
  text-align: left;
}


button {
  font-size:16px;
  width: 50%;

  border-style: none;
 padding: 5px;
 background-color: #3399ff;
 text-decoration: none;
 color: white;
}
input{
 border-style: none;
   font-size:16px;
    width: 50%;
}
select{
font-size:16px;
    width: 50%;

}
